.grid {
  position: relative;
}

.grid-item {
	position: relative;
	list-style: none;
  margin-bottom: 1rem;
}

.grid-item a {
  text-decoration: none;
}

.pokemon-box {
  height: 100%;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  min-height: 180px;
  background-color: #fc6c6d;
  overflow: hidden;
}

.bg-type-1 {
  background-color: #fc6c6d;
}

.bg-type-2 {
  background-color: #49d0b0;
}

.bg-type-3 {
  background-color: #76befe;
}

.bg-type-4 {
  background-color: #ffd76f;
}

.bg-type-5 {
  background-color: #9f5bba;
}

.bg-type-6 {
  background-color: #ca8179;
}



.pokemon-box__types {
	padding: 0;
	margin: 0;
}

.pokemon-types {
	position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.pokemon-type-background {
  background: #000;
  opacity: .1;
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pokemon-type {
  font-size: 12px;
  line-height: 16px;
  padding: 4px 16px;
  margin-top: 5px;
  color: #fff;
  position: relative;
  text-transform: capitalize;
}

.pokemon-type span {
  opacity: 1;
}

.title span {
  padding-left: 10px;
  vertical-align: top;
}

.pokemon-box-frame {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.pokemon-box-title {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 4px;
  outline: none;
}

.pokemon-box-number {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 1rem;
  top: 8px;
  color: #000;
  opacity: .4;
}

.pokemon-box-background {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  /*background: url('/images/pokeball-black.png');*/
  pointer-events: none;
  background-size: 120%;
  opacity: .2;
}


